[data-theme='Firow'] {
	--text-scaling: 1.125;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.25rem;
	--radius-container: 0.125rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(97.15% 0.02 230.85deg);
	--color-primary-100: oklch(93.74% 0.04 228.49deg);
	--color-primary-200: oklch(90.29% 0.06 230.35deg);
	--color-primary-300: oklch(87.1% 0.08 230.05deg);
	--color-primary-400: oklch(83.9% 0.1 231.59deg);
	--color-primary-500: oklch(81.03% 0.12 232.15deg);
	--color-primary-600: oklch(73.81% 0.1 231.17deg);
	--color-primary-700: oklch(66.42% 0.09 229.87deg);
	--color-primary-800: oklch(58.81% 0.08 228.66deg);
	--color-primary-900: oklch(50.95% 0.07 226.18deg);
	--color-primary-950: oklch(42.78% 0.06 222.23deg);
	--color-primary-contrast-dark: oklch(27.49% 0.02 258.37deg);
	--color-primary-contrast-light: oklch(94.91% 0 none);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-dark);
	--color-primary-contrast-800: var(--color-primary-contrast-dark);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(95.33% 0.02 252.17deg);
	--color-secondary-100: oklch(85.46% 0.03 251.48deg);
	--color-secondary-200: oklch(75.3% 0.04 251.06deg);
	--color-secondary-300: oklch(65.08% 0.04 248.43deg);
	--color-secondary-400: oklch(54.22% 0.05 248.7deg);
	--color-secondary-500: oklch(42.9% 0.06 249.23deg);
	--color-secondary-600: oklch(38.61% 0.05 250.25deg);
	--color-secondary-700: oklch(34.15% 0.04 250.41deg);
	--color-secondary-800: oklch(29.8% 0.04 247.67deg);
	--color-secondary-900: oklch(25.01% 0.03 247.07deg);
	--color-secondary-950: oklch(20.04% 0.02 249deg);
	--color-secondary-contrast-dark: oklch(27.49% 0.02 258.37deg);
	--color-secondary-contrast-light: oklch(94.91% 0 none);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-light);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(95.42% 0.07 175.82deg);
	--color-tertiary-100: oklch(87% 0.06 192.05deg);
	--color-tertiary-200: oklch(78.4% 0.06 211.86deg);
	--color-tertiary-300: oklch(69.95% 0.06 230.97deg);
	--color-tertiary-400: oklch(60.99% 0.08 245.67deg);
	--color-tertiary-500: oklch(51.87% 0.1 255.43deg);
	--color-tertiary-600: oklch(46.29% 0.09 255.75deg);
	--color-tertiary-700: oklch(40.48% 0.07 255.67deg);
	--color-tertiary-800: oklch(34.52% 0.06 256.22deg);
	--color-tertiary-900: oklch(28.22% 0.05 256.26deg);
	--color-tertiary-950: oklch(21.62% 0.04 257.68deg);
	--color-tertiary-contrast-dark: oklch(27.49% 0.02 258.37deg);
	--color-tertiary-contrast-light: oklch(94.91% 0 none);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(97.45% 0.04 146.25deg);
	--color-success-100: oklch(95.28% 0.08 145.38deg);
	--color-success-200: oklch(93.27% 0.12 145.13deg);
	--color-success-300: oklch(91.58% 0.16 144.56deg);
	--color-success-400: oklch(90.09% 0.2 144.2deg);
	--color-success-500: oklch(88.91% 0.23 143.7deg);
	--color-success-600: oklch(80.65% 0.2 143.63deg);
	--color-success-700: oklch(72.19% 0.18 143.7deg);
	--color-success-800: oklch(63.68% 0.16 143.75deg);
	--color-success-900: oklch(54.66% 0.14 143.87deg);
	--color-success-950: oklch(45.23% 0.11 143.76deg);
	--color-success-contrast-dark: var(--color-primary-contrast-dark);
	--color-success-contrast-light: var(--color-primary-contrast-light);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-dark);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(99.17% 0.03 110.54deg);
	--color-warning-100: oklch(98.42% 0.06 108.45deg);
	--color-warning-200: oklch(97.8% 0.09 107.31deg);
	--color-warning-300: oklch(97.19% 0.12 107.36deg);
	--color-warning-400: oklch(96.72% 0.14 107.06deg);
	--color-warning-500: oklch(96.26% 0.16 107.21deg);
	--color-warning-600: oklch(87.29% 0.15 107.81deg);
	--color-warning-700: oklch(78.17% 0.13 108.1deg);
	--color-warning-800: oklch(68.91% 0.12 109.67deg);
	--color-warning-900: oklch(59.19% 0.1 110.46deg);
	--color-warning-950: oklch(48.96% 0.08 112.55deg);
	--color-warning-contrast-dark: var(--color-primary-contrast-dark);
	--color-warning-contrast-light: var(--color-primary-contrast-light);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-dark);
	--color-warning-contrast-800: var(--color-warning-contrast-dark);
	--color-warning-contrast-900: var(--color-warning-contrast-dark);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(94.3% 0.03 17.73deg);
	--color-error-100: oklch(89.18% 0.06 18.3deg);
	--color-error-200: oklch(84.05% 0.09 19.09deg);
	--color-error-300: oklch(79.4% 0.12 20.06deg);
	--color-error-400: oklch(74.95% 0.15 21.34deg);
	--color-error-500: oklch(71.16% 0.18 22.84deg);
	--color-error-600: oklch(64.67% 0.16 22.77deg);
	--color-error-700: oklch(58% 0.14 22.68deg);
	--color-error-800: oklch(51.14% 0.13 22.7deg);
	--color-error-900: oklch(44.04% 0.11 22.55deg);
	--color-error-950: oklch(36.65% 0.09 22.33deg);
	--color-error-contrast-dark: var(--color-tertiary-contrast-dark);
	--color-error-contrast-light: var(--color-tertiary-contrast-light);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-dark);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(94.61% 0 none);
	--color-surface-100: oklch(87.9% 0 264.68deg);
	--color-surface-200: oklch(81.02% 0 258.36deg);
	--color-surface-300: oklch(74.32% 0.01 255.5deg);
	--color-surface-400: oklch(67.14% 0.01 253.88deg);
	--color-surface-500: oklch(59.8% 0.01 256.73deg);
	--color-surface-600: oklch(53.66% 0.01 259.83deg);
	--color-surface-700: oklch(47.59% 0.01 255.58deg);
	--color-surface-800: oklch(41.12% 0.01 259.82deg);
	--color-surface-900: oklch(34.6% 0.02 255.62deg);
	--color-surface-950: oklch(27.49% 0.02 258.37deg);
	--color-surface-contrast-dark: oklch(27.49% 0.02 258.37deg);
	--color-surface-contrast-light: oklch(94.91% 0 none);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}